Flask==3.0.3
Flask-Caching==2.3.0
Flask-Limiter==3.5.0
redis==5.0.4
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Compress==1.14
Werkzeug==3.0.3
SQLAlchemy==2.0.48
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==21.2.0
openpyxl==3.1.5
XlsxWriter==3.2.9
